img.mugShot {
    width: 150px;
    border-radius: 10px;

    top: 45%;
    left: 45%;

    position: absolute;

    transform: translateX(100%) translateY(100%);

    animation: spin 3s linear infinite;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}


section#AGS_Auto, section#AGS_Stop {
    padding-top: 15px;
}

input {
    background: #454545;
    border: 2px solid #303030;
    border-radius: 5px;

    color: white;

    transition: background-color .25s ease;
}

input[type="button"]:enabled:hover {
    background: #606060;
}

input[type="button"]:enabled:active {
    background: #303030;
}

input:disabled {
    background: #202020;
    color: #808080;
}

input[type="checkbox"] {
    width: 20px;
    height: 20px;

    accent-color: #606060;
}

section#AutoGambleSettings {
    width: 250px;
    height: 100px;

    font-size: 16px;
    text-align: center;

    border: 2px solid #454545;
    border-radius: 5px;
}

section#possibleImagesAdornee {
    width: 250px;
    height: 300px;
    overflow: scroll;

    text-align: center;

    background: rgb(25,25,25);

    border: 2px solid #454545;
    border-radius: 10px;
}