body {
    font-family: 'Courier New', Courier, monospace;
}
.Footer {
    position: fixed;
    bottom: 0%;
    width: 100%;
    font-size: small;
    font-family: 'Courier New', Courier, monospace;
    font-weight: lighter;
}