section#signinContainer {
    position: fixed;
    top: 10px;
    right: 10px;
    width: 250px;
    z-index: 1000;

    transform: translateX(0px);

    transition: transform 1s cubic-bezier(.5,.2,.25,1.5);
}

section#fb-logInContent {
    position:absolute;
    top: 0px;
    right: 0px;
    width: 100%;
    border: 2px solid rgb(103, 103, 103);
    border-radius: 10px;
    text-align: center;
    font: 15px;

    background-color: #4d4d4d;

    transition: border-color 0.2s;
}

.firebaseSignin_Input {
    width: 100%;

    margin-bottom: 5px;

    border: 2px solid black;
    border-radius: 5px;
}

a#signinMsg {
    font-size: 15px;
}

a#fb-signInTitle {
    display: block;
    font-size: 20px;
    font-weight: bold;
    margin-top: 5px;
    color: #d3d3d3;
}

a#fb-accountName {
    display: block;
    margin-top: 5px;
    font-size: auto;
    color: #d3d3d3;
}

button#fb-visibilityButton {
    position: absolute;
    top: 0;
    left: 0;

    transform: translateX(-25px);

    width: 35px;
    height: 25px;

    border: none;
    border-radius: 5px 0px 0 5px;

    background-color: #6b6b6b;
    color: white;
    font-size: 20px;
    font-weight: bold;
    line-height: 20px;
    text-align: left;
    cursor: pointer;

    z-index: -1;
}

button#fb-visibilityButton:hover {
    background-color: #808080;
}

button#fb-visibilityButton:hover + section#fb-logInContent {
    border-color: #808080;
}

button#fb-visibilityButton:active {
    background-color: #5a5a5a;
}

button#fb-visibilityButton:active + section#fb-logInContent {
    border-color: #5a5a5a;
}

button#fb-signIn, button#fb-signOut {
    width: 90%;

    margin: 5px 5px 5px 5px;
    padding: 5px;

    border: 2px solid black;
    border-radius: 10px;

    background-color: #6b6b6b;
    color: white;
    font-size: 15px;
}

button#fb-signIn:hover, button#fb-signOut:hover {
    background-color: #808080;
}

button#fb-signIn:active, button#fb-signOut:active {
    background-color: #5a5a5a;
}