/* ----- Container Button & Container -----*/
section#devMenu {
    position: fixed;
    bottom: 10px;
    right: 10px;
    width: 250px;
    z-index: 2000;

    transform: translateX(0px);

    transition: transform 1s cubic-bezier(.5, .2, .25, 1.5);
}

section#DM-Main {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 100%;
    height: 375px;
    border: 2px solid rgb(103, 103, 103);
    border-radius: 10px;
    text-align: center;
    font-size: 15px;

    transform: translateY(-100%);

    background-color: #4d4d4d;

    transition: border-color 0.2s;
}

button#DM-visibilityButton {
    position: absolute;
    bottom: 0;
    left: 0;

    transform: translateX(-25px);

    width: 35px;
    height: 25px;

    border: none;
    border-radius: 5px 0px 0 5px;

    background-color: #6b6b6b;
    color: white;
    font-size: 20px;
    font-weight: bold;
    line-height: 20px;
    text-align: left;
    cursor: pointer;

    z-index: -1;
}

button#DM-visibilityButton:hover {
    background-color: #808080;
}


button#DM-visibilityButton:hover+section#DM-Main {
    border-color: #808080;
}

button#DM-visibilityButton:active {
    background-color: #5a5a5a;
}


button#DM-visibilityButton:active+section#DM-Main {
    border-color: #5a5a5a;
}

/* ----- Content ----- */

h1 {
    color: white;
    margin-top: 10px;
    margin-bottom: 0px;
    font-size: 25px;
}

section#DM-Adorne {
    width: 95%;
    height: 300px;
    margin: auto;
    bottom: 5px;
    border: 2px solid rgb(155, 155, 155);
    border-radius: 10px;
    background-color: #6b6b6b;
}


/* ----- Select Styling ----- */
select#DM-SelectPage {
    width: 90%;
    height: 25px;
    margin: auto;
    margin-top: 0px;
    margin-bottom: 5px;
    border: 2px solid rgb(155, 155, 155);
    border-radius: 5px;
    background-color: #6b6b6b;

    padding: 0px;

    text-align: center;
    font-size: 15px;

    color: white;

    transition: background-color .2s ease;
}

select#DM-SelectPage::picker-icon {
    color: #999999;
    transition: 0.4s rotate;
}

select#DM-SelectPage:open::picker-icon {
    rotate: 180deg;
}

select#DM-SelectPage:focus,
select#DM-SelectPage:hover {
    background-color: #7b7b7b;
}

option:first-of-type {
    border-radius: 8px 8px 0 0;
}

option:nth-of-type(odd) {
    background: #8b8b8b;
}

option:last-of-type {
    border-radius: 0 0 8px 8px;
}

::picker(select) {
    border-radius: 8px;
}

option:not(option:last-of-type) {
    border-bottom: none;
}

/* ----- Page ----- */
section.DM-Page {
    width: 100%;
    height: 100%;
    display: none;
}